<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>

        <link rel = "stylesheet" href = "/UpdateReview.css">
    </head>
    <body>
        <div class = "MainDiv" >
            <div class = "Header" >
                <ul class = "HeaderList"  >
                    <li class = "Home"  >
                        <a href = "/">REVIEWS</a>
                    </li>
                    <li class = "Create Review" >
                        <a href = "/CreateReview">CREATE REVIEW</a>
                    </li>
                    <li class = "Login" >
                        LOGIN
                    </li>
                </ul>
            </div>
            <div class = "CreateReviewsContainer">
                <div class = "CreateReviewTitle">
                    <h2>EDIT <%= review.review %> Review</h2>
                </div>
                <form action = "/UpdateReview/<%= review.id %>" method = "post">
                        <label for="poster">Poster:</label>
                        <input type="text" id="poster" name="poster"><br><br>
                        <label for="blurb">Blurb:</label>
                        <input type="text" id="blurb" name="blurb"><br><br>
                        <label for="timedate">Time/Date:</label>
                        <input type="text" id="timedate" name="timedate"><br><br>
                        <label for="review">Review:</label>
                        <input type="text" id="review" name="review"><br><br>
                        <input type = "submit" value = "Submit Edit">
                </form>
            </div>
    </body>
</html>